#main
{
    margin: 0 auto;
    width: 70%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 15px;
    background-color: rgb(3, 3, 80);
}

.btn button
{
    height: 100px;
    width: 100px;
    margin: 20px;
}